@font-face {
  font-family: 'lexend-deca';
  font-weight: 400;
  src: url(fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'big-shoulders';
  font-weight: 700;
  src: url(fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  padding: 30px 10px 30px 10px;
  background: hsl(0, 0%, 95%);
}

main {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

#sedans {
  background: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0;
}

#button1 {
  color: hsl(31, 77%, 52%);
}

#suvs {
  background: hsl(184, 100%, 22%);
}

#button2 {
  color: hsl(184, 100%, 22%);
}

#luxury {
  background: hsl(179, 100%, 13%);
  border-radius: 0 0 10px 10px;
}

#button3 {
  color: hsl(179, 100%, 13%);
}

.card {
  padding: 45px 45px 40px 45px;
}

.heading {
  font-family: 'big-shoulders';
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  margin: 30px 0 30px 0;
}

.paragraph {
  font-family: 'lexend-deca';
  font-size: 0.9rem;
  line-height: 1.8;
  padding-right: 40px;
  color: hsla(0, 0%, 100%, 0.75);
}

.button {
  width: 53%;
  margin-top: 20px;
  height: 45px;
  border-radius: 50px;
  border: 0;
  font-family: 'lexend-deca';
  background: hsl(0, 0%, 95%);
}

button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 95%) !important;
  background: transparent;
  border: 2px solid hsl(0, 0%, 95%);
}

@media screen and (min-width: 600px) {
  body {
    padding: 65px;
    overflow: hidden;
  }
  .container {
    margin: 0 auto;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    height: 80%;
  }
  #sedans {
    border-radius: 10px 0 0 10px;
  }
  #luxury {
    border-radius: 0 10px 10px 0;
  }
  .paragraph {
    padding-right: 15px;
  }
  .button {
    width: 65%;
    margin-top: 70px;
  }
}